/* Write your code here. */
.container {
  background-color: #0f172a;
  background-size: cover;
  height: 60ch;
  text-align: center;
  padding: 20px;
}
.heading {
  color: white;
  font-family: Roboto;
}
.row {
  display: flex;
  align-items: center;
}
.img {
  height: 250px;
  width: 250px;
}
